<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/save" method="POST">
        Registeration Id: <input type="number" name="id" id="id"><br>
        First Name: <input type="text" name="Fname" id="Fname"><br>
        Last Name: <input type="text" name="Lname" id="Lname"><br>
        Status: <input type="text" name="status" id="status"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>